<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gardening Channel System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/basic.css">
    <style>
        #line {
            width: 265px;
            height: 2px;
            background-color: #a86060;
            margin-left: 12px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        .cart-info {
            display: flex;
            flex-wrap: wrap;
        }

        th {
            text-align: left;
            padding: 5px;
            color: rgb(255, 255, 255);
            background-color: rgb(133, 136, 130);
            font-weight: 500;
        }

        td {
            padding: 10px 5px;
        }

        #add, #sub {
            width: 40px;
            height: 40px;
            font-size: 1.5em;
            font-weight: 500;
            line-height: 30px;
            border-radius: 10px;
            color: rgb(0, 0, 0);
            cursor: pointer;
            background: transparent;
        }

        #qtyBox {
            border-radius: 10px;
            padding: 6px 0;
            width: 65px;
            font-weight: 900;
            text-align: center;
            font-size: 1.5em;
            color: rgb(221, 27, 27);
            margin: 0 10px;
            background: transparent;
            display: inline;
        }

        td img {
            width: 120px;
            height: 130px;
            margin-right: 10px;
        }

        tr {
            border-bottom: 1px solid rgb(133, 136, 130);
        }

        #header {
            border-style: none;
            box-shadow: 0 0 5px #6fff00, 0 0 10px #6fff00;
            font-weight: 900;
        }

        #cart-item-left {
            border-left: 1px solid rgb(133, 136, 130);
        }

        .cart-item-right {
            border-right: 1px solid rgb(133, 136, 130);
        }
    </style>

</head>
<%- include ('./partials/header.ejs'); -%>

<h1>Your Cart Items</h1>
<div id="line"></div>
<br>
<div class="container">
    <table>
        <tr id="header">
            <th>PRODUCT</th>
            <th>QUANTITY</th>
            <th>SUB TOTAL</th>
        </tr>
        <% data.forEach(function(item, index){ %>
        <% if(item.customer_id == customer){ %>
        <tr>
            <td id="cart-item-left">
                <div class="cart-info">
                    <img src="<%= item.Prod_image %>">
                </div>
                <br>
                <h6><%= item.product_name %></h6>
            </td>
            <td>
                <span>
                    <form method="POST" action="/Cart_Item/<%=item.Cart_Id%>">
                    <button id="sub">-</button>
                <input type="number" name="quantity" id="qtyBox" readonly="" value="<%= item.Quantity %>">
                <button id="add">+</button>
                    </form>
                <form action="/Cart/<%=item.Cart_Id%>" method="POST">
                <button class="btn btn-danger">Remove</button>
                </form>
                </span>
            </td>
            <td class="cart-item-right"><span><i class="fa fa-inr" aria-hidden="true"></i></span><span
                        id="price"><%= item.price %></span></td>
        </tr>
        <% } %>
        <% }) %>

    </table>
    <br>
    <h3  style="float: right;">Total Amount:- <span><i class="fa fa-inr" aria-hidden="true"></i></span><span id="totalamount">0</span></h3>
    <br>
    <br>
    <button class="btn btn-primary" style="float: right;">Proceed To CheckOut</button>
    <br>
</div>
<br>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>
<script>
    var addBtn = document.querySelectorAll('#add');
    var subBtn = document.querySelectorAll('#sub');
    var qty = document.querySelectorAll('#qtyBox');
    var price = document.querySelectorAll('#price');
    var totalamount=document.getElementById('totalamount')
    for (let i = 0; i < addBtn.length; i++) {
        addBtn[i].addEventListener('click', () => {
            qty[i].value = parseInt(qty[i].value) + 1;
        });

        subBtn[i].addEventListener('click', () => {
            if (qty[i].value <= 1) {
                qty[i].value = 1;
            } else {
                qty[i].value = parseInt(qty[i].value) - 1;
            }
        });
    }
    var total=0;
    for(let i=0;i<qty.length;i++){
        total=total+(parseInt(qty[i].value)*parseInt(price[i].innerHTML))
    }
    totalamount.innerText=total;


    // var totalamount = document.getElementById('totalamount');
    // var sum = 0;
    // for (var j = 0; j < price.length; j++) {
    //     sum = sum + parseInt(price[j].innerHTML);
    // }
    // totalamount.innerText = sum;

</script>

<%- include ('./partials/footer.ejs'); -%>